:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group textarea {
  padding: 10px 20px;
  border: solid 1px #ccc;
  border-radius: 3px;
  display: block;
  font-size: 14px;
}

.button {
  display: block;
  width: max-content;
  border-radius: 5px;
  background: #ccc;
  padding: 5px 20px;
  border: solid 1px #ccc;
  cursor: pointer;
  text-align: center;
  transition-duration: .3s;
}

.button--success {
  background: #4caf50;
  border-color: #4caf50;
  color: white;
}

.button--danger {
  background: #f44336;
  border-color: #f44336;
  color: white;
}

.button--warning {
  background: #ff9800;
  border-color: #ff9800;
  color: white;
}

.button--primary {
  background: #2196f3;
  border-color: #2196f3;
  color: white;
}

.button:hover {
  opacity: 0.8;
}


.flex {
  display: flex;
}

.g-10 {
  gap: 10px;
}

.g-20 {
  gap: 20px;
}

.g-30 {
  gap: 30px;
}

.g-40 {
  gap: 40px;
}

.g-50 {
  gap: 50px;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.section {
  margin: 60px 0;
}

.slide-buttons {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  right: 10px;
  transition-duration: .3s;
  display: flex;
  gap: 10px;
  align-items: center;
}

*:hover>.slide-buttons {
  top: 10px;
  opacity: 1;
  visibility: visible;
}


main {
  padding: 40px 0;
}
